<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Spots Webpage" />
    <meta name="author" content="Amber Ferger" />
    <meta name="keywords" content="Images, Social Media" />
    <title>Spots</title>
    <link rel="icon" type="image/x-icon" href="./favicon.ico" />
  </head>
  <body>
    <div class="page">
      <header class="header">
        <img
          class="header__logo"
          src="<%= require('./images/logo.svg')%>"
          alt="Spots Logo"
        />
      </header>
      <main class="content">
        <!-- PROFILE SECTION-->
        <section class="profile page__section">
          <div class="profile__avatar-container">
            <button class="profile__avatar-button">
              <img
                class="profile__pencil-icon"
                src="<%= require('./images/pencil-light-icon.svg')%>"
                alt="Pencil icon"
              />
            </button>
            <img
              class="profile__avatar"
              src="<%= require('./images/avatar.jpg')%>"
              alt="Profile Avatar"
            />
          </div>
          <div class="profile__column">
            <h1 class="profile__name">Bessie Coleman</h1>
            <p class="profile__description">Civil Aviator</p>
            <button class="profile__edit-button" type="button">
              <img
                src="<%= require('./images/edit-profile-pencil.svg')%>"
                alt="Pencil Icon"
              />
              Edit Profile
            </button>
          </div>
          <button class="profile__new-post-button" type="button">
            <img
              class="profile__plus-image"
              src="<%= require('./images/plus.svg')%>"
              alt="Plus Sign"
            />
            New Post
          </button>

          <!-- NEW POST MODAL -->
          <div class="modal" id="new-post-modal">
            <div class="modal__container">
              <h2 class="modal__title">New post</h2>
              <form class="modal__form" id="new-post">
                <button class="modal__close-button" type="button"></button>
                <label class="modal__label" for="image-link-input">
                  Image link
                  <input
                    class="modal__input"
                    id="image-link-input"
                    name="link"
                    type="url"
                    placeholder="Paste a link to the picture"
                    required
                  />
                  <span id="image-link-input-error" class="modal__error"></span>
                </label>
                <label class="modal__label" for="caption-input">
                  Caption
                  <input
                    class="modal__input"
                    id="caption-input"
                    name="caption"
                    type="text"
                    placeholder="Type your caption"
                    minlength="2"
                    maxlength="30"
                    required
                  />
                  <span id="caption-input-error" class="modal__error"></span>
                </label>
                <button class="modal__submit-button" type="submit">Save</button>
              </form>
            </div>
          </div>
        </section>

        <!-- EDIT AVATAR -->
        <div class="modal" id="edit-avatar-modal">
          <div class="modal__container">
            <h2 class="modal__title">Edit profile avatar</h2>
            <form class="modal__form" id="edit-avatar">
              <button class="modal__close-button" type="button"></button>
              <label class="modal__label" for="profile-avatar-input">
                Profile Picture
                <input
                  class="modal__input"
                  id="profile-avatar-input"
                  type="url"
                  placeholder="Paste the link to an image"
                  required
                />
                <span
                  class="modal__error"
                  id="profile-avatar-input-error"
                ></span>
              </label>
              <button class="modal__submit-button" type="submit">Save</button>
            </form>
          </div>
        </div>

        <!-- CARDS SECTION-->
        <section class="cards page__section">
          <ul class="cards__list">
            <!-- CARD TEMPLATE-->
            <template id="card-template">
              <li class="card">
                <img class="card__image" src="" alt="" />
                <button class="card__trash-button" type="button"></button>
                <div class="card__content">
                  <h2 class="card__title"></h2>
                  <button class="card__like-button" type="button"></button>
                </div>
              </li>
            </template>
          </ul>
        </section>
      </main>

      <!-- FOOTER -->
      <footer class="footer">
        <p class="footer__text">2024 © Spots</p>
      </footer>

      <!-- EDIT PROFILE -->
      <div class="modal" id="edit-profile-modal">
        <div class="modal__container">
          <h2 class="modal__title">Edit profile</h2>
          <form class="modal__form" id="edit-profile">
            <button class="modal__close-button" type="button"></button>
            <label class="modal__label" for="profile-name-input">
              Name
              <input
                class="modal__input"
                id="profile-name-input"
                type="text"
                placeholder="Type your name"
                minlength="2"
                maxlength="40"
                required
              />
              <span id="profile-name-input-error" class="modal__error"></span>
            </label>
            <label class="modal__label" for="profile-description-input">
              Description
              <input
                class="modal__input"
                id="profile-description-input"
                type="text"
                placeholder="Describe yourself"
                minlength="2"
                maxlength="200"
                required
              />
              <span
                id="profile-description-input-error"
                class="modal__error"
              ></span>
            </label>
            <button class="modal__submit-button" type="submit">Save</button>
          </form>
        </div>
      </div>

      <!-- DELETE IMAGE -->
      <div class="modal" id="delete-modal">
        <div class="modal__container modal__container_type_delete">
          <!-- close icon -->
          <button
            class="modal__close-button modal__close-button_type_delete"
            type="button"
          ></button>
          <p class="modal__delete-confirmation">
            Are you sure you want to delete this image?
          </p>
          <form class="modal__form" id="delete-post">
            <div class="modal__button-container">
              <button
                class="modal__submit-button modal__delete-button"
                type="submit"
              >
                Delete
              </button>
              <button class="modal__cancel-button" type="button">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- PREVIEW IMAGE -->
    <div class="modal" id="preview-modal">
      <div class="modal__container modal__container_type_preview">
        <button
          class="modal__close-button modal__close-button_type_preview"
          type="button"
        ></button>
        <img class="modal__image" src="" alt="" />
        <p class="modal__caption"></p>
      </div>
    </div>

    <script type="module" src="./pages/index.js"></script>
  </body>
</html>
